@font-face {
    font-family: zerpixl;
    src: url(../../assets/fonts/zerpixl-Regular.ttf);
}

.social-container{
    display: flex;
    flex-direction: row;
    margin: 30px 50px;
}

.intromain-container{
    display: flex;
    flex-direction: row;
}

.intro-container{
    width: fit-content;
}

.profile-container{
    display: flex;
    height: 100vh;
    align-items: center;
    color: aliceblue;
    align-items: center;
}

.profile-container img{
    width: 70%;
    height: auto;
    border-radius: 50%;
    border: .5em solid rgb(66, 63, 63);
}


.more-section{
    display: flex;
    flex-direction: row;
    margin: 0px 50px;
}


.more-section a{
    text-decoration: none;
    color: rgb(212, 212, 212);
    margin: 0px 10px;
    border: 2px solid white;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.more-section a:hover{
    color: white;
    scale: 1.05;
}


.intro-container h1, h2 {
    font-family:'zerpixl', 'Pixelify Sans', 'Jetbrains Mono', monospace;
    font-weight: 200;
    letter-spacing: 5px;
}

.introtext-container{
    padding: 0px 50px;
    margin-bottom: 10px;
}


/* h1 {
    font-size: 5em;
    margin: 0px;
    color: white;

} */

h1 {
    font-size: 6em;
    margin: 200px 0px;
    color: white;
    margin-bottom: 10px;
    

}

h2 {
    font-size: 5em;
    margin: 0px;
    color: white;
    margin: 0px;
    font-weight: 200;
}
h3 {
    font-size: 2em;
    /* margin: 0px; */
}

.intro-text{
    margin: 5px 0px;
    max-width: 80%;
    font-size: 1.3em;
}


.resume-download-btn{
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
    align-items: center;
    cursor: pointer;
    border: 2px solid white;
    padding: 0px 5px;
    border-radius: 20px;
    transition: .2s ease-in-out;
}

.resume-download-btn:hover{
    scale: 1.1;
}

.resume-download-btn img{
    width: 20px;
    height: 20px;
    margin: 5px;
    object-fit: fill;
}

.resume-download-btn h2{
    margin-right:  5px;
    margin-left:  10px;
    display: block;
    font-size: 18px;
}


