
.scroll-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    height: 100vh;
  }
  
  .scroll-item {
    width: 100%;
    scroll-snap-align: start;
    box-sizing: border-box;
    /* padding-top: 50px; */
    height: 100vh;
    max-height: 100vh;
  }

/* animation intro page */
.intro-anim{
    /* position: relative; */
    right: 1%;
    z-index: -10;
}
.intro-anim1{
    position: absolute;
    right: 1%;
    z-index: -1;
    rotate: 30deg;
    translate:  200px 200px;
    scale: 3;
    opacity: 10%;
}
.intro-anim2{
    position: absolute;
    right: 1%;
    z-index: -1;
    rotate: 50deg;
    translate: -100px 90px;
    scale: 3.8;
    opacity: 30%;
}
.intro-anim3{
    position: absolute;
    right: 1%;
    z-index: -1;
    rotate: 10deg;
    translate: 400px 200px;
    scale: 2 6;
    opacity: 50%;
}

/* animation skills page */

.skills-anim{
    position: absolute;
    right: 1%;
    z-index: -1;

   
}
.skills-anim1{
    position: absolute;
    right: 1%;
    z-index: -1;
    rotate: 30deg;
    translate: 100px 10px;
}